body {
  margin: 0px auto;
  font-family: Poppins;
}

h1/*titres*/ {
  color: #2c2524;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 800;
}

h2 /*sous_titres*/ {
  color: #817d7d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}

h3 /*petits titre (formulaires, divs ect)*/ {
  color: #2c2524;
  font-family: Poppins;
}

h4/*titres de la taille des boutons header*/ {
  color: #2c2524;
  font-family: Poppins;
}

a/*liens*/ {
  text-decoration: none;
}

.FollowUsContainer {
  overflow-x: hidden;
}

.F_U_Top {
  display: flex;
  justify-content: center;
}

.F_U_Top h1 {
  font-size: 40px;
  display: flex;
}

.F_U_Top p {
  font-size: 229%;
  display: flex;
  margin: 25px 0px 0px 11px;
  font-weight: 800;
  color: #fe6b59;
  text-decoration: underline;
}

.F_U_Background {
  z-index: -1;
  display: flex;
  position: absolute;
}

.F_U_B1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 17%;
  margin-top: 8px;
  margin-left: 84px;
  transform: rotate(115deg);
}

.F_U_B2 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: 3%;
  margin-right: 3.5%;
  width: 10%;
  transform: rotate(120deg);
}

.F_U_B3 {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 17%;
  margin-top: 27%;
  margin-right: 27%;
  transform: rotate(120deg);
}

.F_U_M_Left {
  display: flex;
}

.F_U_Mid {
  display: flex;
  margin-left: 11%;
  position: relative;
  z-index: 2;
}

.F_U_M_Left img {
  width: 79%;
  display: flex;
  margin-right: 2%;
  border-radius: 16px;
}

.F_U_M_Right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 25%;
  gap: 25px;
}
.F_U_M_Right img {
  width: 79%;
  border-radius: 16px;
}

.F_R_Img1 {
  margin-left: -18%;
}

.F_U_M_Img {
  display: flex;
}

@media (max-width: 1020px) {
  .F_U_B1 {
    margin-left: 4%;
    transform: rotate(115deg);
    max-width: 17%;
    margin-top: 5%;
  }
}

@media (max-width: 768px) {
  .F_U_B3 {
    width: 19%;
    margin-top: 31%;
    margin-right: 36%;
    transform: rotate(155deg);
  }
  .F_U_B1 {
    margin-left: -5%;
    transform: rotate(84deg);
    width: 22%;
    margin-top: 8%;
  }
  .F_U_Mid {
    margin-left: 6%;
  }
}

@media (max-width: 590px) {
  .F_U_M_Img {
    display: grid;
  }
  .F_U_M_Left img {
    width: 45%;
    display: flex;
    margin-right: 2%;
    border-radius: 16px;
  }
  .F_U_M_Right img {
    width: 94%;
    border-radius: 16px;
  }
  .F_R_Img1 {
    margin-left: -10%;
  }
  .F_U_M_Right {
    margin-left: 0;
  }

  .F_U_M_Left {
    margin-bottom: 6%;
  }
  .F_U_B3 {
    width: 19%;
    margin-top: 667px;
    margin-right: 36%;
  }
  .F_U_B2 {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    margin-top: 89px;
    margin-right: 15px;
    width: 12%;
    transform: rotate(93deg);
  }
  .F_U_B1 {
    margin-left: -5px;
    margin-top: 79px;
  }
  .F_U_Top p {
    font-size: 129%;
  }
  .F_U_Top h1 {
    font-size: 176%;
  }
}
