body {
  margin: 0px auto;
  font-family: Poppins;
  background-color: #fffaf6;
}

h1/*titres*/ {
  color: #2c2524;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 800;
}

h2 /*sous_titres*/ {
  color: #817d7d;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}

h3 /*petits titre (formulaires, divs ect)*/ {
  color: #2c2524;
  font-family: Poppins;
}

h4/*titres de la taille des boutons header*/ {
  color: #2c2524;
  font-family: Poppins;
}

a/*liens*/ {
  text-decoration: none;
}

p/*boutonContactUsOrange*/ {
  background-color: #fe6b59;
  color: white;
  height: fit-content;
  font-family: Poppins;
  font-weight: 600;
  padding: 19px 32px;
  border-radius: 15px;
  width: 124px;
  margin-top: 40px;
}

.ImgM_A_Container {
  display: flex;
  margin-top: 4%;
}

.I_A_Left {
  position: relative;
  margin-left: 12%;
}

.M_A_Img1 {
  border-radius: 40px;
  width: 56%;
  /* height: 50px; */
  transform: rotate(355deg);
  position: relative;
  z-index: 1;
  margin-right: -8%;
}

.M_A_Img2 {
  border: white 7px solid;
  width: 36%;
  position: absolute;
  border-radius: 5%;
  z-index: 2;
  margin-left: -11%;
  margin-top: 5%;
  transform: rotate(2deg);
}

.Elem_I_A_Right h1 {
  width: 35%;
  font-size: 229%;
}

.Elem_I_A_Right p {
  font-family: Poppins;
  font-weight: 600;
  background-color: unset;
  width: 614px;
  color: #827c7e;
  padding: 0;
  line-height: 39px;
  font-size: 20px;
}

.I_A_Quality img {
  background-color: #fec900;
  width: 10%;
  border-radius: 20px;
  display: flex;
  margin-right: 8px;
}

.I_A_Quality p {
  display: flex;
  width: 321px;
  padding: 0;
  background-color: unset;
  color: #2c2524;
  font-weight: 700;
  margin-left: 5px;
}
