body {
    margin: 0px;
}


h1

/*titres*/
    {
    color: #2c2524;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 800;
}

h2

/*sous_titres*/
    {
    color: #817d7d;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

h3

/*petits titre (formulaires, divs ect)*/
    {
    color: #2c2524;
    font-family: Poppins;
}

h4

/*titres de la taille des boutons header*/
    {
    color: #2c2524;
    font-family: Poppins;
}

h5 {
    font-family: Poppins;
    color: white;
    background-color: #FE6B59;
    font-weight: 500;
    text-align: center;
    border: #FE6B59 2px solid;
}

h5:hover {
    border-bottom: white 2px solid;
}

a

/*liens*/
    {
    text-decoration: none;
}

P

/*boutonContactUsOrange*/
    {
    background-color: #FE6B59;
    color: white;
    height: fit-content;
    font-family: Poppins;
    font-weight: 600;
    padding: 17px 30px;
    border-radius: 15px;
    width: 90px;
}

input

/*divs pour écrire dans les formulaires*/
    {
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    padding: 25px 0 25px 15px;
    border: solid 1px #D1CDCE;
    ;
    border-radius: 10px;
    width: 250px;
}


.HetFO {
    background-color: #FFFAF6;
    height: 85vh;
    border: solid #FFFAF6;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 15%;
    position: relative;
    z-index: 1;
}

.top-contact {
    background-image: url();
}

.header {
    padding-top: 10px;
    display: flex;
}

p.Contact_h {
    margin-right: 40px;
}

.leftpart_h {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.logo_h {
    width: 200px;
    margin-left: 5vw;
}

.buttons_h {
    display: flex;
}

.button_h {
    margin-left: 2vw;
}

.buttonspecial_h {
    margin-left: 2vw;
}

.services_h {
    display: flex;
}

.services_h img {
    width: 20px;
    height: 20px;
    margin: 23px 0 0 10px;
}

.orangepart_h {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.burgermenu_h {
    padding: 10px;
    text-align: center;
    width: fit-content;
    position: absolute;
    z-index: 999;
    background-color: #FE6B59;
    margin-top: 18px;
    border-radius: 10px;
    display: none;
}

.BurgerButtons {
    display: none;
}

.BurgerButtons.BurgerButtons2 {
    display: block;
}

@media screen and (max-width:830px) {


    .button_h {
        display: none;
    }

    p.Contact_h {
        margin-right: 90px;
    }

    .burgermenu_h {
        display: block;
        cursor: pointer;
    }

    .buttonspecial_h {
        margin: 30px 30px 0 0;
        justify-content: right;
    }

    .orangepart_h {
        justify-content: right;
    }


    .services_h img {
        display: none;
    }


}

@media screen and (max-width:650px) {
    .Contact_h {
        display: none;
    }


    .logo_h {
        width: 55%;
    }

    .buttonspecial_h {
        margin-right: 80px;
    }
}

.formulairebloc {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 82%;
}

.leftpart_fo {
    justify-content: center;
    margin: 0 10px 0 6vw;
    width: 500px;
}


.titre_fo {
    font-size: 70px;
    margin-top: 0;
}

.soustitre_fo {
    width: 90%;
}

h4.loc_fo {
    width: 50%;
}

.flexpart_fo {
    margin-top: 30px;
}

.flexleft_fo {
    display: flex;
}

.img_fo {
    background-color: #FE6B59;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border-radius: 100px;
}

.flexleft_fo img {
    padding: 12px 0 0 13px;
}

.flexleft_fo h4 {
    margin-left: 15px;
}

.input_fo img {
    margin-left: -29px;
}

.input_fo {
    margin-left: 30px;
}

.partflexformulaire_fo {
    display: flex;
    width: 100%;
}

.inputTitre_fo {
    margin-bottom: 20px;
}

.MessageInput_fo {
    width: 550px;
    padding-bottom: 120px;
}


.Submit_fo {
    display: block;
    margin: 40px 0 0 30px;
    background-color: #FE6B59;
    padding-left: 0;
    color: white;
    width: 150px;
}

form {
    position: relative;
}


.rightpart_fo {
    background-color: white;
    border: solid #D1CDCE 1px;
    border-width: thin;
    padding: 50px 50px 65px 25px;
    border-radius: 10px;
    width: fit-content;
}

.imagejaune_fo {
    z-index: -1;
    top: -160px;
    animation: imagejaune_fo 15s linear infinite;
    position: absolute;
    left: -100px;
}

.imagerouge_fo {
    z-index: -1;
    position: absolute;
    animation: imagerouge_fo 15s linear infinite;
    right: 40px;
}

.imageverte_fo {
    z-index: -1;
    animation: imageverte_fo 15s linear infinite;
    right: -100px;
    top: -150px;
    position: absolute;
}

@keyframes imageverte_fo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes imagerouge_fo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes imagejaune_fo {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



@media screen and (max-width:1760px) {
    .soustitre_fo {
        width: 100%;
    }

    h4.loc_fo {
        width: 80%;
    }
}

@media screen and (max-width:1160px) {

    input {
        width: 100%;
    }

    .formulairebloc {
        display: block;
        width: 100%;
    }

    .input_fo img {
        margin-left: -45px;
    }

    .rightpart_fo {
        width: 80%;
        margin: 200px auto;
    }

    .flexleft_fo {
        width: 90%;
    }

    .leftpart_fo {
        width: 90%;
        justify-content: center;
    }

    .titre_fo {
        width: 100%;
        margin-bottom: 0;
    }

    .soustitre_fo {
        width: 100%;
    }

    .input_fo {
        width: 100%;
    }

    .MessageInput_fo {
        width: 96%;
    }

    .soustitre_fo {
        width: 65%;
    }

    h4.loc_fo {
        width: 40%;
    }

}

@media screen and (max-width:650px) {

    .rightpart_fo {
        padding-right: 10%;
    }

    .titre_fo {
        font-size: 40px;
    }

    .soustitre_fo {
        font-size: 15px;
    }

    h4.loc_fo {
        width: 60%;
    }

    .partflexformulaire_fo {
        display: block;
    }

    .input_fo {
        margin-left: 0;
    }

    .MessageInput_fo {
        width: 100%;
    }

    .ContactFormulaire_fo {
        margin-left: 0;
    }
}

.qs {
    margin-top: 30%;
    background-color: #FBFBFB;
    height: 100vh;
}

.toppart_qs {
    padding-top: 120px;
    text-align: center;
}

.titre_qs {
    font-size: 40px;
    margin-bottom: 10px;
}

.soustitre_qs {
    width: 35%;
    margin: 0 auto;
}

.buttons_qs {
    display: flex;
    margin-top: 150px;
}

.buttonhidden {
    display: none;
}

.fourbuttons_qs {
    margin-left: 15%;
}

.button_qs1,
.button_qs2,
.button_qs3,
.button_qs4 {
    font-weight: 800;
    border: 1px #D1CDCE solid;
    width: 25vw;
    font-size: 20px;
    padding: 25px 15px;
    border-radius: 15px;
    margin: 18px 0;
    background-color: white;
}

.rightpart_qs {
    position: relative;
    z-index: 1;
}

.button_qs1.\.button2_qs,
.button_qs2.\.button2_qs,
.button_qs3.\.button2_qs,
.button_qs4.\.button2_qs {
    border: solid 2px #FE6B59;
    color: #FE6B59;
}



.textbutton_qs {
    display: flex;
    z-index: 2;
    margin-left: 5vw;
    border: 1px #D1CDCE solid;
    border-radius: 15px;
    width: 50%;
    height: fit-content;
    padding: 50px 80px;
    line-height: 30px;
    margin-top: 15px;
    background-color: white;
}

.imgrouge_qs {
    z-index: -1;
    display: flex;
    position: absolute;
    right: 13%;
    animation: imagerouge_qs 15s linear infinite;
    top: -70px;
}

.imgjaune_qs {
    z-index: -1;
    top: -50px;
    left: 20px;
    animation: imagejaune_qs 15s linear infinite;
    display: flex;
    position: absolute;
}

.imgverte_qs {
    z-index: -1;
    left: 40px;
    top: 300px;
    animation: imageverte_qs 15s linear infinite;
    position: absolute;
    display: flex;
}

.imgverte_qs img {
    height: 180px;
}

@keyframes imageverte_qs {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes imagejaune_qs {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes imagerouge_qs {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width:1160px) {
    .qs {
        margin-top: 1100px;
    }

    .soustitre_qs {
        width: 90%;
    }

    .imageverte_fo {
        transform: rotate(180deg);
    }
}

@media screen and (max-width:1000px) {

    body {
        overflow-x: hidden;
    }

    .qs {
        height: 100%;
    }

    .toppart_qs {
        padding-bottom: 0px;
    }

    .buttons_qs {
        display: block;
        margin-top: 50px
    }

    .fourbuttons_qs {
        margin-left: 1vw;

    }

    .button_qs1,
    .button_qs2,
    .button_qs3,
    .button_qs4 {
        width: 95%;
        margin: 30px 0;
        padding-right: 0;
        padding-left: 2%;
    }

    .textbutton_qs {
        width: 90%;
        padding: 20px 3%;
        margin: 70px 0 0 10px
    }

    .imgverte_qs {
        top: 150px;
        left: -40px;
    }
}

@media screen and (max-width:650px) {
    .qs {
        margin-top: 1400px;
    }

    .imagerouge_fo {
        transform: rotate(-40deg);
    }

    .imageverte_fo {
        transform: rotate(100deg);
    }

    .imagejaune_fo {
        transform: rotate(10deg);
    }

    .titre_qs {
        font-size: 25px;
    }

    .soustitre_qs {
        font-size: 13px;
    }

    .button_qs1,
    .button_qs2,
    .button_qs3,
    .button_qs4 {
        font-size: 15px;
    }

    .textbutton_qs h2 {
        font-size: 13px;
    }

    .textbutton_qs {
        margin-top: 70px;
        padding: 7%;
        width: 79%;
    }
}



/* FOOTER (2 BLOCS) A METTRE AU DESSUS
PASSAGE SITE ABOUT*/

.topPart_au {
    text-align: center;
    margin: 100px 0 150px 0;
}

.titre_au {
    font-size: 65px;
    animation: titre_au 3s linear;
}

@keyframes titre_au {
    from {
        font-size: 0px;
    }

    to {
        font-size: 65px;
    }
}

.soustitre_au {
    width: 1000px;
    font-size: 25px;
    margin: 0 auto;
    animation: soustitre_au 2s linear;
}


@keyframes soustitre_au {
    from {
        width: 300px;
    }

    to {
        width: 1000px;
    }
}

.imagesbloc_au {
    position: relative;
    left: 10%;
    width: 90%;
}

.imgGrise_au {
    border-radius: 5%;
    width: 55%;
    transform: rotate(-3deg);
}

.imgVerte_au {
    width: 50%;
    position: absolute;
    border-radius: 5%;
    transform: rotate(5deg);
    right: 8%;
    top: 30%;
    border: white 10px solid;
}

.imgVerte_au img {
    border-radius: 5%;
}

.imgRouge2_au {
    position: absolute;
    z-index: 2;
    right: 10%;
    bottom: -35%;
    max-width: 10%;
    animation: imageRouge2_au 10s linear infinite
}

@keyframes imageRouge2_au {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes imageJaune2_au {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.imgJaune_au {
    position: absolute;
    right: 35%;
    top: 5%;
    max-width: 20%;
    transform: rotate(-100deg);
    z-index: -1;
}

.imgRouge_au {
    position: absolute;
    z-index: -1;
    right: 20%;
    bottom: -50%;
    max-width: 20%;
    transform: rotate(90deg);
}

.imgJaune2_au {
    position: absolute;
    max-width: 20%;
    left: -7%;
    top: -20px;
    transform: rotate(-120deg);
    animation: imageJaune2_au 10s linear infinite;
    z-index: 2
}

@media screen and (max-width:1500px) {
    .soustitre_au {
        width: 85%;
    }
}

/*BLOC SUIVANT*/

.sy {
    margin-top: 30%;
    background-color: #FFFAF6;
    height: 100%;
    padding-bottom: 10%;
}


.topPart_sy {
    text-align: left;
    padding-top: 100px;
    width: 85%;
    margin: 0 auto;
    display: flex;
}

.topPart2_sy {
    text-align: left;
    padding-top: 100px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.textPart_sy {
    justify-content: center;
    width: 100%;
    margin-left: 0vw;
}

.titre_sy {
    font-size: 60px;
    width: 700px;
    margin-top: 0;
}

.soustitre_sy {
    font-size: 25px;
    width: 790px;
}


.soustitre2_sy {
    font-size: 25px;
    width: 780px;
}

.img1_sy {
    width: 100%;
    margin-left: 5vw;
}


.img1_sy img {
    width: 700px;
    border-radius: 15px;
    /* transform: rotate(2deg); */
}

.img2_sy {
    text-align: left;
    width: 100%;
    margin-left: 6vw;
}

.img2_sy img {
    width: 700px;
    border-radius: 15px;
    transform: rotate(-2deg);
}

@media screen and (max-width:1730px) {
    .topPart_sy {
        display: block;
        width: 90%;
    }

    .topPart2_sy {
        display: block;
    }

    .textPart_sy {
        margin: 0 auto;
        width: fit-content;
    }

    .img1_sy {
        text-align: center;
        margin: 100px 0 50px 0;
    }

    .img2_sy {
        text-align: center;
        margin: 100px 0 50px 0;
    }
}

@media screen and (max-width:890px) {

    .titre_sy {
        font-size: 55px;
        width: 100%;
    }

    .soustitre_sy {
        font-size: 21px;
        width: 98%;
    }

    .soustitre2_sy {
        font-size: 21px;
        width: 97%;
    }

    .img1_sy img {
        max-width: 100%;
    }

    .img2_sy img {
        max-width: 100%;
    }
}

@media screen and (max-width:500px) {

    .titre_sy {
        font-size: 25px;
        width: 80%;
    }

    .titre_au {
        font-size: 25px;
    }

    .soustitre_au {
        font-size: 14px;
        line-height: 30px;
    }

    .soustitre_sy {
        font-size: 14px;
        width: 99%;
        line-height: 30px;
    }

    .soustitre2_sy {
        font-size: 14px;
        width: 100%;
        line-height: 30px;
    }
}

.Ov {
    height: 100%;
    padding-bottom: 10%;
}

.titre_ov {
    font-size: 55px;
    text-align: center;
    padding-top: 150px;
}

.flexPart_ov {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.Part_ov {
    width: fit-content;
    display: flex;
}

.Ov img {
    width: 150px;
    margin-left: 50px;
}

.text_ov {
    margin-left: 30px;
}

.petitTitre_ov {
    font-weight: 900;
    font-size: 35px;
    margin-top: 0;
}

.soustitre_ov {
    width: 100%;
    font-size: 25px;
}

@media screen and (max-width:1134px) {


    .petitTitre_ov {
        text-align: center;
    }

    .soustitre_ov {
        text-align: center;
        width: 100%;
    }

    .Part_ov {
        display: block;
    }

    .img_ov {
        text-align: center;
    }
}

@media screen and (max-width:440px) {

    .titre_ov {
        font-size: 30px;
    }

    .petitTitre_ov {
        font-size: 20px;
    }

    .soustitre_ov {
        font-size: 15px;
    }

    .flexPart_ov {
        display: block;
    }

    .Part_ov {
        margin-bottom: 60px;
    }
}

.team {
    background-color: #FBFBFB;
    padding: 8% 0;
}

.team img {
    width: 550px;
    border-radius: 10px;
}

.imgPart_team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titre_team {
    text-align: center;
    font-size: 50px;
    width: 54%;
    margin: 0px auto 50px auto;
}

.petitTitre_team {
    font-weight: 800;
    font-size: 25px;
    margin: 30px 0 10px 0;
}

.sousTitre_team {
    width: 350px;
    margin: 0px auto 60px auto;
    line-height: 30px;
}

.Part_team {
    background-color: white;
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
    border-radius: 10px;
    border: 2px #DBD9DA solid;
}

@media screen and (max-width:1200px) {

    .titre_team {
        width: 60%;
        font-size: 40px;
    }

    .Ov img {
        margin-left: 0;
    }
}

@media screen and (max-width:600px) {

    .Part_team {
        max-width: 100%;
    }

    .Part_team img {
        max-width: 100%;
    }

    .petitTitre_team {
        font-size: 20px;
    }

    .sousTitre_team {
        font-size: 15px;
        width: 100%;
    }

    .titre_team {
        font-size: 25px;
        width: 100%;
    }
}